* {
    margin: 0;
    padding: 0;
}

.element-name {
    height: 42vh;
    width: 29vw;
    background-color: #f3e345;
    font-size: 80px;
    /* font-weight: bold; */
}

.atomic-n {
    height: 14vh;
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.element-atom {
    height: 14vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.atomic-mass {
    height: 14vh;
    float: right;
    margin-right: 30px;
    display: flex;
    align-items: center;
}
